body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.firstNameContainer {
  display: flex;
  font-size: 20px;
  justify-content: center;
  padding-top: 10px;
}

.update {
  padding-left: 10px;
}

.main-img {
  margin-top: 100px;
}

.models-container {
  margin-left: 50px;
  margin-top: 50px;
  
}

.users-list {
  margin-top: 40px;
}

.user-info {
  margin-top: 45px;
}

.user-h2 {
  margin-top: 80px;
  padding-left: 20px;
  padding-bottom: 40px;
  font-family: 'Special Elite', cursive, bold;
}

.first-name {
  margin-right: 20px;
}

.gift-link {
  margin-top: 425px;


}

.gift-form {
  margin-top: 100px;

}

.new-gift {
  position: absolute;
  margin-top: 80px;
  padding-left: 20px;
  padding-bottom: 40px;
  font-family: 'Special Elite', cursive, bold;
}

